* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #222;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Header */
header {
  background-color: #007acc;
  color: white;
  padding: 20px 0;
}

header h1 {
  float: left;
  margin-left: 20px;
}

nav {
  float: right;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

/* Hero */
.hero {
  height: 80vh;
  text-align: center;
  padding: 100px 20px;
  background: url(./images/bann4.jpg_large)  center / contain no-repeat;
  background-size: 100% 100%;
  background-position: left;
}

.hero h2 {
  color: white;
  text-shadow: 2px 2px 2px rgb(62, 62, 233) ;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  color: white;
  text-shadow: 2px 2px 2px blue ;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #007acc;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #005fa3;
}

/* Section Base */
.section {
  padding: 60px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #007acc;
}

/* News */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-card {
  background: white;
  padding: 20px;
  border-left: 5px solid #007acc;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  width: 300px;
}



/* Legends Section */
.legends {
  padding: 4rem 0;
  background-color: #eaf6ff;
}


.legends h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

.legends-timeline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.timeline-content {
  background-color: #2424242d;
  padding: 1rem;
  text-align: center;
}

.timeline-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 2rem;
  object-fit: cover;
}

.timeline-content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.era {
  color: var(--color-accent);
  margin-bottom: 0.5rem;
}

.achievement {
  color: var(--color-text-secondary);
  font-size: 0.9rem;
}








/* About */
.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.about-text {
  flex: 1;
  min-width: 280px;
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 40vh;
  width: 30vw;
}

/* Footer */
footer {
  background: #f0f0f0;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #333;
}
